{% load static %}
<html>
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width-device-width, initial-scale=1, maximum-scale=1"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://bootswatch.com/5/solar/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />

    <title>TaskRemedy</title>
  </head>

  {% include 'base.html' %}

  <div class="container bg-white shadow-md p-5 form-layout"
    style="margin-top: 20px; border-radius: 20px; width: 500px;">


    <h2 style="text-align: center; color: rgb(0, 0, 0);">TaskRemedy</h1>
      <hr>
  <p style="color: rgb(57, 42, 14);">Welcome, to TaskRemedy <br> <br>Your personal task manager application!</p>

  </div>
</html>
