{% load static %}
<html>
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width-device-width, initial-scale=1, maximum-scale=1"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://bootswatch.com/5/solar/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>
  {% include 'base.html' %}

    <h2 class="text-center" style="color: white; margin-top: 10px;">
      View Tasks</h2>
    <hr>

    {% for tsk in task %}
    <div class="container bg-white shadow-md p-5 form-layout"
    style="margin-top: 20px; border-radius: 30px; width: 500px; box-shadow: 2px; color: black;">

    {{tsk.title}}
    <br /><br />
    {{tsk.content}}
    <br /><br />
    {{tsk.priority}}
    <br /><br />

      <a
        class="btn btn-info navbar-btn"
        type="button"
        href="{% url 'update-task' tsk.id %}"
        >Update Task</a
      >

    &nbsp; &nbsp; &nbsp;
    <br><br>

      <a
        class="btn btn-danger navbar-btn"
        type="button"
        href="{% url 'delete-task' tsk.id %}"
        >Delete Task</a
      >

    &nbsp; &nbsp; &nbsp;


    </div>
    {% endfor %}
  </div>
</html>
